<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite parallel = "tests" name="Suite">
	
	<listeners>
		<listener class-name ="testCases.TestComponents.Listeners" />

	</listeners>
	
  <test thread-count="5" name="Error Validation test">
    <classes>
      <class name="testCases.Tests.ErrorValidations"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Main Test">
    <classes>
      <class name="testCases.Tests.MainTest"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
